<% # container for a single doc -%>
<div class="document <%= render_document_class document %>" itemscope itemtype="<%= document.itemtype %>">
  <%= render_document_partials document, blacklight_config.view_config(document_index_view_type).partials, :document_counter => document_counter %>
</div>

<script>

acceptedTerms = $.cookie('acceptedTerms');

if(!acceptedTerms){
	//alert("no accepted terms");
	searchResultsClickThroughConfirmBox("<%= document['click_through_ssm'].to_sentence %>","<%= t('tul_ohist.click_through_confirm_button_text') %>","<%= t('tul_ohist.click_through_cancel_button_text') %>");
} else {
    //alert("at least 1 term");
	if(acceptedTerms.indexOf("<%= document['click_through_ssm'].to_sentence %>") == -1){
		//alert("just not ours");
		//alert("accepted Term: " + acceptedTerms);
		//alert("term in question: " + "<%= document['click_through_ssm'].to_sentence %>");
		searchResultsClickThroughConfirmBox("<%= document['click_through_ssm'].to_sentence %>","<%= t('tul_ohist.click_through_confirm_button_text') %>","<%= t('tul_ohist.click_through_cancel_button_text') %>");

	}
}


</script>
