<h1>Special Collections Oral Histories Repository</h1>
<p>These collections contains transcripts of audio interviews. The interviewee/narrator read the transcript and made minor corrections, but the reader should bear in mind that it represents a transcription of the spoken word.</p>

<div id="collections-ohist">
  <div id="collections-left">
    <center>
	    <a href=<%= "#{root_url}walter_massey_phillips_oral_histories"%>>
      <div class="crop">
        <%= image_tag "ohist_cover.png", alt: "aeriel shot of a building", class: "thumbnail", id: "blockson-thumbnail" %>
      </div>
      <h2>Walter Massey Phillips Oral Histories</h2>
    </a>
    </center>
  </div>
  <div id="collections-center">
    <center>
	    <a href=<%= "#{root_url}waller-anderson-still_collection"%>>
      <div class="crop">
        <%= image_tag("waller-anderson-still_cover.jpg", alt: "Waller-Anderson-Still Collection", class: "thumbnail", id: "waller-anderson-still-thumbnail" ) %>
      </div>
      <h2>Waller-Anderson-Still Oral Histories</h2>
    </a>
    </center>
  </div>
  <div id="collections-right">
    <center>
	    <a href=<%= "#{root_url}feinstein_collection"%>>
      <div class="crop">
        <%= image_tag("feinstein_cover.jpg", alt: "Photograph of tallit hanging from railing", class: "thumbnail", id: "feinstein-thumbnail" ) %>
      </div>
      <h2>Feinstein Center Oral Histories</h2>
    </a>
    </center>
  </div>

<div style="clear: both;"><!-- Clear collection floats --></div> 

<div class="callout-ohist">
  <h2>Oral Histories at Temple University Libraries</h2>
  <p>Temple University Libraries’ special collections—the Charles L. Blockson Afro-American Collection and the Special Collections Research Center—include individual oral history interviews completed for a variety of projects, built around the history of the Philadelphia region.</p>

  <h2>Oral History: Defined</h2>
  <p>In Doing Oral History, Donald Ritchie explains, "Oral History collects memories and personal commentaries of historical significance through recorded interviews.  An oral history interview generally consists of a well-prepared interviewer questioning an interviewee and recording their exchange in audio or video format.  Recordings of the interview are transcribed, summarized, or indexed and then placed in a library or archives. These interviews may be used for research or excerpted in a publication, radio or video documentary, museum exhibition, dramatization or other form of public presentation. Recordings, transcripts, catalogs, photographs and related documentary materials can also be posted on the Internet.  Oral history does not include random taping, such as President Richard Nixon’s surreptitious recording of his White House conversations, nor does it refer to recorded speeches, wiretapping, personal diaries on tape, or other sound recordings that lack the dialogue between interviewer and interviewee."</p>
</div>

<h2>Note on ADA Compliance</h2>
<p>For Americans with Disabilities Act (ADA) accommodation, including help with reading this content, please contact <a href="mailto:diglib@temple.edu">diglib@temple.edu</a>.</p> 

