<%= form_tag root_url, :method => :get, :id => 'basic-search', :class => 'search-query-form form-inline clearfix navbar-form' do %>
    <%= render_hash_as_hidden_fields(params_for_search().except(:q, :search_field, :qt, :page, :utf8)) %>

    <div class="input-group">
      <span class="input-group-addon">
        <%= select_tag("f[digital_collection_sim][]", options_for_select(collections_fields, selected_digital_collections(params)), :title => t('blacklight.search.form.search_field.title'), :class=>"search_field") %>
        <span class="sr-only"><%= t('blacklight.search.form.search_field.post_label') %></span>
      </span>
      <label for="q" class="sr-only"><%= t('blacklight.search.form.q') %></label>
       <%= text_field_tag :q, params[:q], :placeholder => t('blacklight.search.form.q'), :class => "search_q q form-control", :id => "q", :autofocus => should_autofocus_on_search_box? %>

      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary search-btn" id="search">
          <span class="submit-search-text"><%=t('blacklight.search.form.submit')%></span>
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </span>

      </div>
      <div class="secondary-input-group">
        <a class="btn btn-default" href="<%=root_url%>?utf8=%E2%9C%93&search_field=all_fields&q="><%= t('tul_ohist.search.label.browse_all') %></a>
        <%= render_advanced_search %>
      </div>

<% end %>
