<% transcript_pdf = contentdm_file_url(document['contentdm_collection_id_ssm'].to_sentence,
                                    document['contentdm_number_ssm'].to_sentence,
                                    document['contentdm_file_name_ssm'].to_sentence) %>

<div class="transcript collection-description">
	<h2>About this Collection</h2>
	<%= document['collection_description_tesim'].to_sentence %>
</div>

<div class="transcript content-summary">
	<h2>About this Interview</h2>
<%= document['content_summary_tesim'].to_sentence %>
</div>

<div class="transcript biographical-history-note">
	<h2>Biographical / History Note</h2>
<%= document['biographical_history_note_tesim'].to_sentence %>
</div>

<div class="transcript solr-fields">
	<h2>Record Details</h2>
  <dl class="defList">
  <% document_show_fields.each do |solr_fname, field| -%>
    <% if document.has? solr_fname %>
        <dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_label :field => solr_fname %></dt>
        <dd class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_value :document => document, :field => solr_fname %></dd>
      <% end -%>
    <% end -%>
      <dt class="blacklight-contact">Contact:</dt>
      <dd class="blacklight-contact"><%= theme_contact_field(document["contact_ssm"].to_sentence) %></dd>
  </dl>
  <div id="pdf">
    <object data="<%= transcript_pdf %> type="application/pdf" width="100%" height="1000px">
      <p>This page includes the transcript PDF document. <a href="<%= transcript_pdf %>">Click here to download the PDF file.</a></p>
    </object>
  </div>
</div>

