<script>
$(document).ready(function(){
  checkForConfirmation("<%= document['click_through_ssm'].to_sentence %>","<%= t('tul_ohist.click_through.confirm_button_text') %>", "<%= t('tul_ohist.click_through.cancel_button_text') %>");
});

</script>
<div class="main-column">
  <div class="transcript portrait">
    <%= render_photo_local(document["master_identifier_ssim"]) %>
  </div>

  <% transcript_pdf = local_file_url(document["master_identifier_ssim"]) %>

  <div class="transcript collection-description">
    <h2><%= t('tul_ohist.transcript_view.title.about_collection') %></h2>
    <%= document['collection_description_tesim'].to_sentence.html_safe if document['collection_description_tesim'] %>
  </div>

  <div class="transcript content-summary">
    <h2><%= t('tul_ohist.transcript_view.title.about_interview') %></h2>
  <%= document['content_summary_tesim'].to_sentence.html_safe if document['content_summary_tesim'] %>
  </div>   

  <%= render_audio_links(document[:ensemble_identifier_tesim]) if document.key?(:ensemble_identifier_tesim) %>

    <div id="transcript-pdf"><object data="<%= transcript_pdf %>" type="application/pdf" width="100%" height="100%">
      <p>It appears your Web browser is not configured to display embedded PDF files.  To view this, just <a href="<%= transcript_pdf %>">click here to view the PDF file.</a></p>
    </object></div>
<div class="download-link">
  <a target="_blank" href="<%= transcript_pdf %>"><%= t('tul_ohist.transcript_view.browse_pdf') %></a>
</div>

  <div class="transcript biographical-history-note">
    <h2><%= t('tul_ohist.transcript_view.title.biographical') %></h2>
  <%= document['biographical_history_note_tesim'].to_sentence.html_safe if document['biographical_history_note_tesim'] %>
  </div>

  <div class="transcript solr-fields">
    <h2><%= t('tul_ohist.transcript_view.title.record_details') %></h2>
    <dl class="defList">
    <% document_show_fields.each do |solr_fname, field| -%>
      <% if document.has? solr_fname %>
          <dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_label :field => solr_fname %></dt>
          <dd class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_value :document => document, :field => solr_fname %></dd>
        <% end -%>
      <% end -%>
        <dt class="blacklight-type_tesim">Type:</dt>
        <dd class="blacklight-type_tesim">Oral Histories</dd>
        <dt class="blacklight-contact">Contact:</dt>
        <dd class="blacklight-contact"><%= render_contact_field(document['master_identifier_ssim'].to_sentence, document) %></dd>
        <dt class="blacklight-type_tesim">Transcript Identifier:</dt>
        <dd class="blacklight-type_tesim"><%= document["master_identifier_ssim"].to_sentence if document["master_identifier_ssim"] %></dd>
    </dl>
  </div>
  <div class="rights">
    <h2><%= t('tul_ohist.transcript_view.title.rights') %></h2>
    <%= document['rights_ssm'].to_sentence.html_safe if document['rights_ssm'] %>
  </div>
  
  <div class="transcript-note">
    <h2><%= t('tul_ohist.transcript_view.title.transcript_note') %></h2>
    <%= auto_link(document['transcript_note_ssm'].to_sentence.html_safe) if document['transcript_note_ssm'] %>
  </div>
  
  <div class="ada-note">
    <h2><%= t('tul_ohist.transcript_view.title.ada_note') %></h2>
    <%= auto_link(document['ada_note_ssm'].to_sentence.html_safe) if document['ada_note_ssm'] %>
  </div>
</div>
<div class="right-column">
  <%= render_related_resources(document['master_identifier_ssim'].to_sentence, document) %>
</div>
<script type='text/javascript'>
    function embedPDF(){
      var myPDF = new PDFObject({
        url: '<%= transcript_pdf %>',
        pdfOpenParams: { scrollbars: '1', toolbar: '1', messages: '1', navpanes: '1' }
      }).embed('transcript-pdf');
    }
    window.onload = embedPDF; //Feel free to replace window.onload if needed.
</script>
